:root {
    --primary-color: rgba(29, 5, 201, 0.22);
    --secondary-color: red;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--primary-color);
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin: 20px;
}
/* Navbar Styling */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__links-wrapper ul {
    display: flex;
}
.nav__link {
    list-style-type: none;
    padding-left: 20px;
}
.nav__link a {
    text-decoration: none;
}
.page {
    height: 100%;
}
/* Footer Styling */
footer {
    bottom: 0;
    position: absolute;
}